@import "sass/_vars";

//top nav
nav a {
  color: #343A40;
}

nav a:hover {
  color: $main-accent;
  text-decoration: none;
}

//intro
.typing {
  color: $main-accent;
  padding: 0;
  margin: 0;
}

//accent hook img
.accent {
  padding-bottom: 115px;
}

//about page
p a {
    color: $main-accent;
  }

p a:hover {
     color: #343A40;
     text-decoration: underline;
  }

//project link
.project-title a {
  color: #7F7F7F;
  font-size: 1rem;
}

.project-title a:hover {
  color: #343A40;
  text-decoration: none;
}

//gif position
img[alt='project_gif'] { 
  max-width: 200px; 
  display: block;
  margin: 0 auto;
}


//about page

.about-content p {
  width:100%;
  text-align:justify;
  }
